'use strict';

module.exports = {
  database: {
    protocol: 'mysql',
    query: { pool: true },
    host: process.env.POLLING_BOOTH_DATABASE_HOST,
    database: process.env.POLLING_BOOTH_DATABASE_NAME,
    user: process.env.POLLING_BOOTH_DATABASE_USERNAME,
    password: process.env.POLLING_BOOTH_DATABASE_PASSWORD,
  },
  redis: {
    url: 'redis://127.0.0.1:6379',
  },
  email: {
    defaultFrom: '"Polling Booth" <noreply@example.com>',
    transporter: {
      service: '163',
      auth: {
        user: '<username>',
        pass: '<password>',
      },
    },
  },
  jwt: {
    secret: '<JWT secret>',
    expiresIn: 604800,
  },
  view: {
    maxPageSize: 20,
  },
};
