'use strict';

const path = require('path');

module.exports = {
  path: path.normalize(path.join(__dirname, '..')),
  port: process.env.NODE_PORT || 3000,
  database: {
    protocol: 'mysql',
    query: { pool: true },
    host: process.env.POLLING_BOOTH_DATABASE_HOST,
    database: process.env.POLLING_BOOTH_DATABASE_NAME,
    user: process.env.POLLING_BOOTH_DATABASE_USERNAME,
    password: process.env.POLLING_BOOTH_DATABASE_PASSWORD,
  },
  jwt: {
    secret: '<JWT secret>',
    expiresIn: 604800,
  },
  view: {
    maxPageSize: 20,
  },
};
